* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
button:focus{
  outline:0;
}
.Home {
  background-color: #E5E5E5;
  width: 100%;
  height: 100vh;
}
/* Post type */
.Home .feed-area .posts .post-0{
  position: fixed;
  top:131px;
  left:206px
}
.Home .feed-area .posts .post-1{
  position: fixed;
  top:131px;
  left:900px
}
.Home .feed-area .posts .post-2{
  position: fixed;
  top:131px;
  left:1387px;
}
.Home .feed-area .posts .post-3{
  position: fixed;
  top:540px;
  left:900px;
}
.Home .feed-area .posts .post-4{
  position: fixed;
  top:540px;
  left:1387px;
}
.Home .feed-area .filter-wrapper{
  background-color: transparent;
  width: 300px;
  height: 50px;
  position: fixed;
  top: 40px;
  left:800px;
}
.Home .feed-area .filter-wrapper .filter{
  position: absolute;
}

.Home .feed-area .filter-wrapper #popular-filter{
  left:100px;
  top:10px;
}
.Home .feed-area .filter-wrapper #latest-filter{
  left:290px;
  top:10px;
}
.Home .feed-area .filter-wrapper .filter{
  font-size: 25px;
  color: #7A7676;
  width: 100px;
  background-color: transparent;
}
.Home .feed-area .filter-wrapper button:focus{
  outline:0;
}
.Home .feed-area .filter-wrapper .active{
  margin: 0%;
  color: white;
  background-color: #0773FF;
  border-radius: 22px;
}
.Home .create-post-button{
  position: fixed;
  background-color:white ;
  width: 177px;
  height: 46px;
  color: #7A7676;
  font-size: 20px;
  border-radius: 26px;
  left: 1850px;
  top:40px;
}
.Home .create-post-button:focus{
  outline:0;
}
.Home .create-post-button:hover:not([disabled]){
  background-color: #0773FF;
  color: white;
  transition: 0.2s;
}

/* ----------------------Post form-------------------- */
.Home .post-form-wrapper{

  border: #707070 2px solid;
  background-color: white;
  width: 493px;
  height:500px;
  position: fixed;
  z-index: 10;
  left: 730px;
  top:150px;
}
.Home .post-form-wrapper .image-placeholder{
  background-color:#E3E3E3 ;
  width: 318px;
  height: 318px;
  margin-left: 90px;
  margin-top: 50px;
}
.Home .post-form-wrapper img{
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}
.Home .post-form-wrapper input{
  margin-left: 100px;
}
.Home .post-form-wrapper input[type="submit"]{
  border: #707070 2px solid;
  margin-left: 195px;
  margin-top: 20px;
  background-color:#E3E3E3;
  border-radius: 20px;
  width: 100px;
}

.Home .post-form-wrapper .close-button{
  background-color: transparent;
  position: absolute;
  left: 440px;
  top:10px;
}
.Home .post-form-wrapper .close-button:focus{
  outline: 0;
}
/* Navbar */
.Home .navbar-wrapper{
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #303030;
  width: 50px;
  height: 100%;
  position: fixed;
  z-index: 60;
  display: grid;
  grid-template-rows: 5% 90% 5%;
  overflow: hidden ;
}
.Home .navbar-wrapper .search-button-wrapper{
  height: 50px;
  width: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: 10% 90%;
}
.Home .navbar-wrapper .search-button-wrapper .search-icon{
  background-color: #0773FF;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.Home .navbar-wrapper .search-button-wrapper .search-icon img{
  margin-top: 8px;
  cursor: pointer;
}

.Home .navbar-wrapper .search-button-wrapper .search-bar-wrapper{
  width: 0%;
  margin-left: 0%;
}
.Home .navbar-wrapper .search-button-wrapper .search-bar-wrapper input{
  transition: 0.3s;
  width: 0%;
  height: 100%;
}
.Home .navbar-wrapper .search-button-wrapper{
  background-color: #0773FF;
  height: 50px;
  width: 50px;
  text-align: center;
}
.Home .navbar-wrapper .search-button-wrapper img{
  margin-top: 8px;
  cursor: pointer;
}
.Home .navbar-wrapper .user-search-display{
  transition: 0.9s;
  overflow-x: hidden;
  height: 100%;
  width: 0%;
  margin: 0;
}
.Home .navbar-wrapper .user-profile{
  cursor: pointer;
  margin-left: 3px;
  margin-top: 12px;
  height: 40px;
  width: 40px;
}
.Home .navbar-wrapper .user-profile img{
  border-radius: 25px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}





.Home .navbar-wrapper .user-search-display .user-info{
  overflow:hidden ;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
}
.Home .navbar-wrapper .user-search-display .user-picture-wrapper{
  width: 40px;
  height: 40px;
}
.Home .navbar-wrapper .user-search-display .user-picture-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}
.Home .navbar-wrapper .user-search-display .user-info{
  background-color: white;
  width: 100%;
  height: 50px;
  border: 1px solid rgb(141, 141, 141);  
}


/* Active navbar */
.Home .navbar-wrapper-active{
  transition: 0.5s;
  background-color: #303030;
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 60;
  display: grid;
  grid-template-rows: 5% 90% 5%;
  overflow: hidden ;
}

.Home .navbar-wrapper-active .search-button-wrapper{
  height: 50px;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 10% 90%;
}
.Home .navbar-wrapper-active .search-button-wrapper .search-icon{
  background-color: #0773FF;
  width: 50px;
  height: 50px;
}

.Home .navbar-wrapper-active .search-button-wrapper .search-icon img{
  margin-top: 8px;
  cursor: pointer;
}

.Home .navbar-wrapper-active .search-button-wrapper .search-bar-wrapper{
  transition: 0.5s;
  width: 93%;
  margin-left: 7.5%;
}
.Home .navbar-wrapper-active .search-button-wrapper .search-bar-wrapper input{
  padding-left: 4px;
  padding-right: 5px;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.Home .navbar-wrapper-active .user-search-display{
  height: 100%;
  width: 100%;
  margin: 0;
  margin-top:10px ;
  overflow-y: scroll ;
  scrollbar-color: #0773FF transparent;
  scrollbar-width: thin;
}
.Home .navbar-wrapper-active .user-search-display .user-info{
  overflow:hidden ;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
}
.Home .navbar-wrapper-active .user-search-display .user-picture-wrapper{
  width: 40px;
  height: 40px;
}
.Home .navbar-wrapper-active .user-search-display .user-picture-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}
.Home .navbar-wrapper-active .user-search-display .user-info{
  background-color: white;
  width: 100%;
  height: 50px;
  border: 1px solid rgb(141, 141, 141);  
}
.Home .navbar-wrapper-active .user-profile{
  cursor: pointer;
  margin-top: 12px;
  margin-left: 3px;
  height: 40px;
  width: 40px;
}
.Home .navbar-wrapper-active .user-profile img{
  border-radius: 25px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Home .navlinks{
  text-decoration: none;
  color: #303030;
}
.Home .navlinks:hover{
  text-decoration: none;
}