* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  /* ------------------------------main div------------------ */
.Rooms{
    position: relative;
    background: rgba(13, 15, 65, 0.863) url(https://cdna.artstation.com/p/assets/images/images/032/144/020/large/hw-6523-20201116203648.jpg?1605607315);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
 /* ------------------------------Banner------------------ */
 .Rooms .Logo{
    background:  url(https://cdnb.artstation.com/p/assets/images/images/031/991/871/large/star-academy-22.jpg?1605168327) ;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(3, 1, 37, 0.966);
 }
 .Rooms .Logo h1{
     align-self: center;
     padding-top: 1%;
     color: rgb(235, 235, 235);
     text-shadow: 2px 3px rgb(19, 15, 49);
 }
/* -----------------------Search bar-------------------- */
.Rooms .search{
    margin-left: 40%;
    width: 20%;
    height: 60px;
    top: 10%;
    z-index: 1000;
}
.Rooms .search input{
    box-shadow: 0 0 40px rgba(3, 1, 37, 0.966);
    width: 100%;
    text-align: center;
    border-radius: 20px;
    height: 45px;
    font-size: 25px;
    background-color: rgb(216, 216, 216);
}
.Rooms .addRoomButton img{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    cursor: pointer;
}
.Rooms .addRoomButton img:hover{
    opacity:1;
    transition: 0.3s;
}
.Rooms .addRoomButton{
    height:64px;
    width:64px;
    position: relative;
    margin-left: 48.5%;
    margin-bottom: 2%;
}
/* close form button */
.Rooms .closeFormButton{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    cursor: pointer;    
    cursor: pointer;
    width: 32px;
    height: 32px;
    position:relative;
    right:10px;
    top:10px;
    position: absolute;
}
.Rooms .closeFormButton:hover{
    opacity: 1;
}
/* -----------------------Room options--------------------- */

.Rooms .options h1{
    text-align: center;
    color: white;
    font-size: 150%;
    background-color: rgb(34, 34, 46);
    border-radius: 10px;
}

.Rooms .options{
    box-shadow: 0 0 40px rgba(3, 1, 37, 0.966);
    cursor: pointer;
    position:absolute;
    width: 40px;
    height: 40px;
    right: 10px ;
    bottom: 20px;
    background-color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.Rooms .options:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}
/* -----------------------Filter-------------------- */
.Rooms .filter{
    
    height: 40px;
    margin-bottom: 50px;
    z-index: 100;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 10%;
    margin-left: 45%;
}
.Rooms .filter .navlink{
    margin-right: 10%;
    text-align: center;
    width: 90px;
    color: rgb(209, 209, 209);
    font-size: 20px;
    text-decoration: none;
}
.Rooms .filter .active_nav{
    width: 90px;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    font-size: 20px;
    background-color: rgb(20, 114, 255);
    text-decoration: none;
    box-shadow: 0 0 40px rgba(3, 1, 37, 0.966);
}
/* -----------------Room-------------------- */
.Rooms .card-deck{
    margin:0;
    margin-left: 4%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 15%;
    position: relative;
    
}
.Rooms .card-deck .roomNameBanner {
    border-radius: 10px 10px 0 0;
    margin: 0;
    background-color: rgb(175, 29, 61);
    box-shadow: 0 4px 5px rgba(35, 32, 88, 0.966);
    z-index: 50;
    text-align: center;
}
.Rooms .card-deck .roomNameBanner h3{
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    color: rgb(28, 12, 46);
    z-index:50;
}
.Rooms .card-deck .card{
    box-shadow: 0 0 30px rgba(2, 0, 46, 0.966);
    background-color: transparent;
}
.Rooms .card-deck .card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 15px 15px ;    
    width: 320px;
    height: 120px;
    background-color: rgb(214, 214, 214);
}
.Rooms .card-deck .card{
    overflow: visible;
    border-radius: 10px ;    
    width: 320px;
    height: 120px;
    background-color: transparent;
    border: black 4px;
}


.Rooms .card-deck .roomNameBanner :hover{
    box-shadow: 0 7px 30px rgb(18, 17, 44);
    transition: 0.1s;
}

/* -------------------RoomForm-------------------- */
.Rooms .RoomForm{
    background-color:  rgb(53, 67, 255);
    position: absolute;
    border-radius: 20px;
    width: 30%;
    left: 35%;
    top:30%;
    height: 23%;
    text-align: center;
    z-index: 1200;

}
.Rooms .RoomForm h1{
    color: white;
}
.Rooms .RoomForm input{
    margin-bottom: 5%;
    align-self: center;
    border: 1px rgb(71, 71, 71) solid;
    border-radius: 5px;
}
.Rooms .RoomForm label{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.Rooms .RoomForm .submitButton{ 
    color: rgb(78, 78, 78);
    font-weight: 500;
    width: 90px;
}
.Rooms .RoomForm .submitButton:hover{ 
    color: rgb(53, 67, 255);
    transition: 0.2s;
}

.Rooms .room-navlink{
    text-decoration: none;

}
/* ---------------------leave and join button ------------------ */
.Rooms .join-delete-room-button,.Rooms .go-to-room-button{
    position: absolute;
    top: 0%;
    right: 3%;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.Rooms .go-to-room-button{

    top: 0%;
    right: 15%;
}
.Rooms .go-to-room-button img:hover {
    transition: .2s;
    transform: scale(1.3);
}
.Rooms .join-delete-room-button img:hover{
    transition: .2s;
    transform: scale(1.3);
}

